<div class="body">
                <!-- 面包屑 -->
                <ol class="breadcrumb">
                    <li><a href="javascript:;">毕业院校</a></li>
                    <li class="active">毕业院校</li>
                </ol>
            </div>
毕业时间：
<input class="form-control input-lg" type="text" value="2015.06">
毕业学校：
<input class="form-control" type="text" value="湖北三峡职业技术学院">
学历：
<input class="form-control input-sm" type="text" value="大专">
专业：
<input class="form-control input-sm" type="text" value="非计算机专业">
