<!-- 技能列表 -->
            <div class="body">
                <!-- 面包屑 -->
                <ol class="breadcrumb">
                    <li><a href="javascript:;">技能列表</a></li>
                    <li class="active">技能列表</li>
                </ol>
            </div>
            <table class="table table-striped">
  <tr class="active">技能表（如有需要新技术可尽快上手）</tr>

<!-- On cells (`td` or `th`) -->
<tr>
  <td class="active">html</td>
  <td class="success">熟练</td>
</tr>
<tr>
  <td class="active">css</td>
  <td class="success">熟练</td>
</tr>
<tr>
  <td class="active">H5</td>
  <td class="success">熟练</td>
</tr>
<tr>
  <td class="active">C3</td>
  <td class="success">熟练</td>
</tr>
<tr>
  <td class="active">js</td>
  <td class="success">熟练</td>
</tr>
<tr>
  <td class="active">angular</td>
  <td class="success">熟练</td>
</tr>
<tr>
  <td class="active">vue</td>
  <td class="success">熟练</td>
</tr>
<tr>
  <td class="active">require</td>
  <td class="success">熟练</td>
</tr>
<tr>
  <td class="active">node</td>
  <td class="success">了解</td>
</tr>
<tr>
  <td class="active">webpack</td>
  <td class="success">熟练</td>
</tr>
</table>
